<nav class="navbar navbar-expand navbar-light bg-light mb-3">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/logo.png">
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="list-trips">
                Trips
            </a>
        </div>
    </div>
    <div class="ms-auto">
        <a class="nav-item nav-link btn btn-primary mx-2" routerLink="login" *ngIf="!isLoggedIn()">
            Log In
        </a>
        <button class="btn btn-primary nav-item nav-link mx-2" (click)="onLogout()" *ngIf="isLoggedIn()">
            Log Out
        </button>
    </div>
</nav>